{% extends 'layout.html' %}

{% block content %}
{% load static %}

<style type="text/css">
    
body{
   background:  #dedede;
}

</style>


<!-- herencia de template -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top " style="background:#ffffff;box-shadow:0px 0px 5px 2px #a0a0a0;">
  <div class="container-fluid">
    <a class="navbar-brand " href="{% url 'inicio' %}"><img src="../static/img/Fox.png" style="width:40px;height: 40px;">
    </a>
    <p style="font-family: forte;" class="display-6">FaceFox</p>  
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-end">
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
    -->
      </ul>

      <span class="navbar-text">
        <a href="{% url 'profile' request.user %}" class="nav-link"> <img src="../static/img/miPerfil.png" style="width:25px;height: 25px; "></a>
      </span>
       <span class="navbar-text">
        <a href="" class="nav-link"> <img src="../static/img/notificacion.png" style="width:25px;height: 25px; "></a>
      </span>
       
      <span class="navbar-text">
        <a href="{% url 'logout' %}" class="nav-link"> <img src="../static/img/salir.png" style="width:25px;height: 22px; "></a>
      </span>

    </div>
  </div>
</nav>


<div  class="container mt-3" >
    <div class="row d-flex justify-content-center mt-5">
        <div id="" class="col-12 col-md-8  " >
            <div class=" border m-5" style="background: white;border-radius: 10px;box-shadow: 0px 0px 5px 2px #a0a0a0;" >



            <div class="m-3" >
                <form class="d-flex form-group" action="{% url 'Busqueda' %}" >{% csrf_token %}
              <input class="form-control me-2" type="text" placeholder="Busqueda" aria-label="Search" id="buscar" name="Busqueda" >
              <button class="btn btn-outline-primary" for="busqueda" type="submit">Buscar</button>
            </form>

            </div>
                

           
          
           
            </div>
            
        </div>
    </div>
    <!-- End Center -->
</div>

{% endblock content %}